@keyframes fadeInThenOut {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

  /* These are css glabal variables! */
:root {
  --white: #fafaff;
  --black: #333533;
}

/*  Loading Fade  */
.enter-view {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 3s;
  animation-name: fadeInThenOut;
  animation-iteration-count: 1;

  opacity: 0;
  min-height: 75vh;
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  flex: 0 0 10vh;
}

/*  Main Container  */
.main-container {
  display: flex;
}

.sidebar {
  margin-left: 10vh;
  width: 25vh;
}

.name {
  display: flex;
  flex-direction: column;

  max-width: 160px;
  margin-block-end: 0;
  margin-block-start: 0;
}

/*  Sidebar Buttons  */
.button-aboutMe, .button-resume, .button-projects, .button-contactInfo, .button-linkedIn, .button-gitHub{
  color: blue;
  cursor: pointer;
}

.button-aboutMe {
  width: 70px;
}

.button-resume, .button-projects {
  width: 55px
}

.button-contactInfo {
  width: 85px;
}

.button-aboutMe:hover, .button-resume:hover, .button-projects:hover, .button-contactInfo:hover, .button-linkedIn:hover, .button-gitHub:hover  {
  color:blueviolet;
}

/*  Main Display  */
.main-display {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
}

section {
  display: flex;
  justify-content: center;
  max-width: 100vh;
}

.main-view {
}

.image-container {
}

.resume-image {
  /* background-image: url("images/MaxCalabroPortfolioDisplayResume.jpg"); */
  max-height: 90vh;
  max-width: 800px;
  border: 1px solid black;
}

/*  Projects  */
.project-grid {
  display: grid;
  grid-gap: 1vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-1, .project-2, .project-3, .project-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  padding: 1vh;

  height: 25vh;
  width: 25vh;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover {
  box-shadow: 0 0 3px grey;
}

/*  Contact Me  */
.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: end;

  margin-right: 10vh;
  margin-bottom: 10vh;
  width: 25vh;
}