/*  Keyframes  */
@keyframes fadeInThenOut {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes fadeIn {
  0%, 50% { opacity: 0 }
  100% { opacity: 1 }
}

  /* These are css glabal variables! */
:root {
  --white: #fafaff;
  --black: #333533;
  --steelwhite: #f3f4f6
}

/* Fronts */
@font-face {
  font-family: Roboto-Bold;
  src: url(assets/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(assets/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(assets/Roboto-Light.ttf);
}

/*  Loading Fade  */
.enter-view {
  z-index: 1;
  display: flex;
  justify-content: center;

  animation-duration: 3s;
  animation-name: fadeInThenOut;
  animation-iteration-count: 1;

  font-family: Roboto-Light;
  font-size:x-large;

  opacity: 0;
  min-height: 40vh;

  margin-top: 10vh;
}

header, .sidebar, .main-container {
  animation-duration: 6s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--steelwhite);
  /* background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5vh;

  margin-right: 5vh;
}

/*  Icons */
.icon-email-container, .icon-phone-container, .icon-linkedIn-container, .icon-gitHub-container {
  height: 4vh;
  width: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-email, .icon-phone, .icon-linkedIn {
  max-height: 90%;
  max-width: 90%;
  cursor: pointer;
}
.icon-gitHub {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.icon-email-container:hover, .icon-phone-container:hover, .icon-linkedIn-container:hover, .icon-gitHub-container:hover {
  transform: scale(1.1);
}

/*  Main Container  */
.main-container {
  display: flex;
  justify-content: center;
  width: fit-content;

}

.sidebar {
  margin-left: 8vh;
  width: 25vh;
}

.sidebar::before {
  content: '';
  position: absolute;
  height: 48%;
  width: 5%;
  
  border-left: 1vh solid slategrey;
}

.name-title {
  display: flex;
  flex-direction: column;


  
}

.name {
  display: flex;
  flex-direction: column;

  font-family: Roboto-Bold;
  font-size: 2.8em;

  max-width: 45vh;
  height: 60%;

  margin-block-end: 0;
  margin-block-start: 0;
  
  padding-left: 3vh;

}

.title {
  font-family: Roboto-Bold;
  font-size: 1.5em;
  margin-top: 2vh;
  margin-left: 4vh;
}

/*  Sidebar Buttons  */
.resume-doc-link {
  width: auto;
  height: auto;

  margin-left: 75px;
}

.resume-doc-link:hover {
  box-shadow: 0 0 3px grey;
  cursor: pointer;
}

.button-aboutMe, .button-resume, .button-projects, .button-contactInfo, .button-linkedIn, .button-gitHub{
  font-family: Roboto-Medium;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 4vh;
}

.button-aboutMe {
  width: 110px;
}

.button-resume, .button-projects {
  width: 55px
}

.button-contactInfo {
  width: 85px;
}

.button-aboutMe:hover, .button-resume:hover, .button-projects:hover, .button-contactInfo:hover, .button-linkedIn:hover, .button-gitHub:hover  {
  transform: scale(1.1);
}

/*  Main Display  */
.main-display {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 5%;
}

section {
  display: flex;
  justify-content: center;
  max-width: 100vh;
}

.main-view {
  font-size: 1.17em;
  margin-top: 10%;
}

.about-me-container {
  height: 45vh;
  width: 150%;
}

.hi {
  float: left;
  margin-bottom: 0;
  margin-right: .5vh;
  margin-left: 25%;

  font-family: Roboto-Light;
  font-size: larger;

}

.about-me {
  margin-block-start: 0;
  margin-block-end: 0;

  width: 75%;
  margin-left: 25%;

  font-family: Roboto-Light;
  font-size: larger;
}

.resume-image {
  /* background-image: url("images/MaxCalabroPortfolioDisplayResume.jpg"); */
  max-height: 90vh;
  max-width: 800px;
  border: 1px solid black;
}

/*  Projects  */
.project-grid {
  display: grid;
  grid-gap: 1vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project-1, .project-2, .project-3, .project-4 {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  padding: 1vh;

  height: 30vh;
  width: 30vh;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover {
  box-shadow: 0 0 3px grey;
  cursor: pointer;
}

.project-title {
  align-self: flex-start;

  font-family: Roboto-Medium;
  font-weight: normal;
  text-decoration: underline 2px;

  margin-block-start: 0em;
  margin-block-end: 0em;
}

.project-description {
  font-family: Roboto-Light;
  margin-block-start: 0;
  margin-block-end: 0;
}

/*  Contact Me  */
.contact-me {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */

  font-family: Roboto-Light;

  margin-right: 2vh;
  margin-bottom: 10vh;
  width: 30vh;
}